<main class="index">
  <header class="masthead d-flex">
    <div class="container text-center">
      <a class="btn btn-primary btn-lg" href="/signin">
        Ingreso
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</main>