<div class="container-fluid overflow-hidden">
  <div class="row vh-100 overflow-auto">
    <div
      class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top"
    >
      <div
        class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5"><i class="fa-solid fa-scale-balanced"></i><span
              class="d-none d-sm-inline"
            > Centeno Novillo App</span></span>
        </a>
        <ul
          class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="/profile" class="nav-link px-sm-0 px-2">
              <i class="fa-solid fa-house"></i></i><span
                class="ms-1 d-none d-sm-inline"
              >Inicio</span>
            </a>
          </li>
          <li>
            <a href="/links/calendario" class="nav-link px-sm-0 px-2">
              <i class="fa-solid fa-calendar-days"></i><span
                class="ms-1 d-none d-sm-inline"
              >Calendario</span></a>
          </li>
          <li class="dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle px-sm-0 px-2"
              id="dropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-people-group"></i><span
                class="ms-1 d-none d-sm-inline"
              >Clientes</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark text-small shadow"
              aria-labelledby="dropdown"
            >
              <li><a class="dropdown-item" href="/links/add">Nuevo Cliente</a></li>
              <li><a class="dropdown-item" href="/links">Buscar Cliente</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle px-sm-0 px-2"
              id="dropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-book-medical"></i><span
                class="ms-1 d-none d-sm-inline"
              >ART</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark text-small shadow"
              aria-labelledby="dropdown"
            >
              <li><a class="dropdown-item" href="/links/addart">Agregar ART</a></li>
              <li><a class="dropdown-item" href="links/art">Buscar ART</a></li>
            </ul>
          </li>
        </ul>
        <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="/img/logo.jpg"
              alt="hugenerd"
              width="28"
              height="28"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline mx-1">{{user.username}}</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownUser1"
          >
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Configuracion</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/logout">Salir</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col d-flex flex-column h-100">
      <main class="row imgfondo">

      {{!-- CONTENIDO PRINCIPAL --}}
      
      </main>
    </div>
  </div>
</div>


